{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            Nombres de saisons :
            {% for prog in program.seasons %}
            <a href="{{ path("program_season_show", { programSlug: program.slug, seasonId: prog.id }) }}">{{ prog.number }}</a>
            {% endfor %}
            <div>
                <strong>Acteurs :</strong>
                <ul>
                    {% for actor in program.actors %}
                        <li><a href="{{ path('actor_show', {id: actor.id}) }}">{{ actor.name }}</a></li>
                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <a href="{{ path('season_index') }}">Ajouter une saison</a>
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
    <form method="post" action="{{ path('program_delete', {'id': program.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
        <button class="btn">Delete</button>
    </form>

{% endblock %}